.page {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  color: #4d5ae5;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ===== HEADER ===== */

header {
}

.head {
  background: #ffffff;
  border-bottom: 1px solid #E7E9FC
}

.head:hover {
}

.header-container {
  display: flex;
  align-items: center;
}

.head-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.head-nav-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  margin-right: 76px;
}

.head-nav-link-foot {
  color: #2e2f42;
}

.head-nav-menu {
  display: flex;
  gap: 40px;
  margin-right: auto;
}

.nav-menu-item {
}

.nav-menu-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;
  display: block;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
  color: #404bbf;
}

.adrs {
  font-style: normal;
}

.adrs-menu {
  display: flex;
  gap: 40px;
  align-items: center;
}

.adrs-menu-item {
}

.adrs-menu-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  padding: 24px 0;
  display: block;
}

.adrs-menu-link:hover,
.adrs-menu-link:focus {
  color: #404bbf;
}

/* ===== MAIN ===== */
/* +++++ Container1 +++++ */
.content {
}

.quote {
  padding-top: 188px;
  padding-bottom: 188px;
  background: #2e2f42;
}

.quote-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.quote-btn {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
  border: none;
}

.quote-btn:hover,
.quote-btn:focus {
  background-color: #404bbf;
}

/* +++++ Container2 +++++ */
.desc {
  padding: 120px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.desc-list {
  display: flex;
  gap: 24px;
}

.desc-list-item {
  width: calc((100% - 24px * 3) / 4);
}

.desc-list-subject {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.desc-list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* +++++ Container3 +++++ */
.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
  text-align: center;
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0px 0px 4px 4px;
}

.team-list-avatar {
}

.item-list-box {
  padding: 32px 0;
}

.team-list-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.team-list-profession {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* +++++ Container4 +++++ */
.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  column-gap: 24px;
  row-gap: 48px;
  flex-wrap: wrap;
}

.portfolio-list-item {
  width: calc((100% - 24px * 2) / 3);
}

.portfolio-list-item-picture {
}

.portfolio-list-box {
  padding: 32px 16px;
  border: 1px solid #E7E9FC;
  border-top: none;
}

.portfolio-list-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.portfolio-list-item-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===== FOOTER ===== */
.foot {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.foot-link {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.foot-link-foot {
  color: #f4f4fd;
}

.foot-quote {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}
